@charset "UTF-8";

/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

1.0 - Typography

1.1 - Headings

1.2 - Images

1.3 - Colors

1.4 - Buttons

1.5 - Tables 

1.6 - Forms 

2.0 - Navigation Menus

2.1 - Footer

3.1 - Site Structure



	

--------------------------------------------------------------*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}




/* 1.0 Typography */

h2, header p, blockquote p {
	font-family: 'Abril Fatface', cursive;
}

p {
	font-size: 16px;
}

.btn, h2, h3, header p, blockquote, nav a {
	text-transform: uppercase;
}

blockquote p {
	font: normal 26px/40px 'abril fatface';
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}

header p {
	font: normal 48px/55px 'abril fatface';
	padding-right: 800px;
}

#about, #products header, #products p, h3 {
	text-align: center;
}

.flavors h2 {
	text-align: center;
}



/* 1.2 Images */

#bg-home {
	background-image: url("../img/cupcake-bg.jpg");
	background-repeat: no-repeat;
}

#hours li {
	list-style-image: url(../img/cherry-bullet.png);
}




#facebook {
  background: url(../img/icon-facebook.png);
  
}

#twitter {
  background: url(../img/icon-twitter.png);
  
}

#pinterest {
  background: url(../img/icon-pinterest.png);
  width: 50px;
  height: 100px;
}

#linkedin {
  background: url(../img/icon-linkedin.png);
  width: 50px;
  height: 100px;
}

.google {
  background: url(../img/icon-google.png);
  width: 50px;
  height: 100px;
}



/* 1.3 Color */

.bg-pink, table, #products .btn, form .btn {
	background-color: #f2d7f4;
}

.bg-blue, #about .btn {
	background-color: #bce4ed;
}


/* 1.4 Buttons */

.btn {
	text-decoration: none;
	border: 0px solid;
}

.btn:hover {
	background-color: #fff;
}

.btn, .btn:hover {
	color: #000;
	padding: 8px 15px;
}

/* 1.5 Tables */

table {
	border-collapse: collapse;
	margin: 0 auto;
	margin-right: 50px;
}


caption {
	display: none;
}


td th a, td {
	padding: 10px;
}


th, td {
	padding-right: 100px;
}

/* 1.6 Forms */

input, label, textarea {
	display: block;
}

form {
  margin: auto;
  width: 1095px;
  padding: 10px; 
}

#form-p2 {
	padding-right: 150px;
}

fieldset {
	border: none;
}

legend {
	font-size: 18px;
}
/* 2.0 Navigation */ 

nav li {
	display: inline-block;
	margin-right: 20px;

}

nav a:hover {
	text-decoration: none;
	color: #34697a;
}

nav {
	text-align: right;

}

nav a {
	text-decoration: none;
	color: #000;

}

.logo {
	text-align: left;
	padding-top: 30px;
}

/* 2.1 Footer */

footer p {
	padding-right: 30px;
}

footer section {
	display: inline-block;
}

footer {
	text-align: left;
	text-decoration: none;
}

footer li {
	list-style-type: none;
}

#footer-p1 {
	width: 270px;
}

#footer-p2 {
	width: 135px;
}

/* 3.1 Site Structure */

#bg-home {
	padding-bottom: 400px;
}

.row {
	overflow: auto; 
}

.wrapper {
	width: 1024px;
	margin: 0 auto;
}

#about {
	width: 465px;
	height: 265px;
}

#about a {
	text-decoration: none;
	color: #000;
}

#hours {
	width: 278px;
	height: 412px;
	text-align: center;
	padding-right: 65px;
}

#products h2 {
	margin: 0 auto;
}

#products {
	padding-top: 75px;
	padding-bottom: 75px;
}

#flavors-col1, #flavors-col2 {
	width: 270px;
	height: 136px;

}

.float-left, img[src="img/cupcake-about.jpg"] {
	float: left;
}

.float-right, table {
	float: right;
}


#orders p {
	text-align: left;
	width: 420px;
}

#flavors-col1 p, #flavors-col2 p {
	font-size: 15px;
	line-height: 21px;
}


#treats p {
	width: 250px;

}

#treats img {
	padding-left: 50px;
}


#order p {
	padding-right: 600px;
}



